#formColumn  {
  display: flex;
  flex-wrap: wrap;
}

#formForRegister {
  margin: 0.7rem 0.7rem 0.0rem 0.7rem;
  flex: 1 0 calc(10% - 5px); /* Ajusta el 50% a la cantidad de columnas que desees. */
}

#buttonRegister {
  margin: 0.7rem 0.7rem 0.7rem 0.7rem;
}

#buttonEliminar {
  margin: 0.7rem;
}

#buttonModificar {
  margin: 0.7rem
}
