<button id="buttonRegister" mat-flat-button color="accent" (click)="navigateToForm()">
    Nuevo Adolescente
</button>

<button id="buttonListInactive" mat-flat-button color="accent" (click)="navigateToListInactive()">
    Adolescente Deshabilitados
</button>

<button id="formForRegister" (click)="openDialog()" mat-flat-button color="accent">
    Nuevo registro de Adolescente
</button>

<div class="container">
    <table id="tableOfDatTeen" mat-table [dataSource]="teenData" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombres:</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef>Apellidos:</th>
            <td mat-cell *matCellDef="let element"> {{element.surnameFather}} {{element.surnameMother}} </td>
        </ng-container>

        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI:</th>
            <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
        </ng-container>

        <ng-container matColumnDef="phonenumber">
            <th mat-header-cell *matHeaderCellDef>Celular:</th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Dirección:</th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email:</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="birthade">
            <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento:</th>
            <td mat-cell *matCellDef="let element"> {{element.birthade}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Genero:</th>
            <td mat-cell *matCellDef="let element"> {{getConfirmationGenderSexTeen(element.gender)}} </td>
        </ng-container>

        <ng-container matColumnDef="soaOperativeUnit">
            <th mat-header-cell *matHeaderCellDef>Soa:</th>
            <td mat-cell *matCellDef="let element"> {{getOperativeUnitFindBD(element.id_operativeunit)}} </td>
        </ng-container>

        <ng-container matColumnDef="crime_committed">
            <th mat-header-cell *matHeaderCellDef>Crimen Cometido:</th>
            <td mat-cell *matCellDef="let element"> {{element.crimeCommitted}} </td>
        </ng-container>

        <ng-container matColumnDef="attorney">
            <th mat-header-cell *matHeaderCellDef>Apoderado:</th>
            <td mat-cell *matCellDef="let element"> {{getAttorneyFindBD(element.id_attorney)}} </td>
        </ng-container>

        <ng-container matColumnDef="codubi">
            <th mat-header-cell *matHeaderCellDef>Ubicación:</th>
            <td mat-cell *matCellDef="let element"> {{getUbigeoDataFindBD(element.codubi)}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button id="buttonEliminar" mat-flat-button color="warn" (click)="deleteDataTeen(element)">Eliminar
                </button>
                <button id="buttonModificar" mat-flat-button color="primary" (click)="updateDataTeen(element)">Modificar
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="teenColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: teenColumns;"></tr>

    </table>
</div>
