<button id="buttonListInactive" mat-flat-button color="accent" (click)="navigateToListDataComplete()">
  Funcionarios Habilitados
</button>

<div class="container">
  <table id="tableOfDataFuncionary" mat-table [dataSource]="funcionaryData" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombres:</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Apellidos:</th>
      <td mat-cell *matCellDef="let element"> {{element.surnamefather}} {{element.surnamemother}} </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> DNI:</th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="phonenumber">
      <th mat-header-cell *matHeaderCellDef> Celular:</th>
      <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
    </ng-container>

    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef> Cargo:</th>
      <td mat-cell *matCellDef="let element"> {{element.range}} </td>
    </ng-container>

    <ng-container matColumnDef="confirmation">
      <th mat-header-cell *matHeaderCellDef>Tutor Legal:</th>
      <td mat-cell *matCellDef="let element"> {{getCompleteConfirmation(element.confirmation)}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Dirección:</th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="ubigeo">
      <th mat-header-cell *matHeaderCellDef> Ubicación:</th>
      <td mat-cell *matCellDef="let element">{{getDataUbigeoCompleteFind(element.codubi)}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email:</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button id="buttonEliminar" mat-flat-button color="warn" (click)="reactiveDataFuncionary(element)">Restaurar</button>
        <button disabled id="buttonModificar" mat-flat-button color="primary">Modificar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="funcionaryColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: funcionaryColumns;"></tr>

  </table>
</div>
