<div class="containerForInformation">
  <h1 class="titlePrincipalDashboard">PRONACEJ</h1>
  <h6>Encargado de manejar todos los SOA disponibles a nivel nacional.</h6>
  <p class="textInformative">Este dashboard va a contener toda la información sobre el uso y los manejos que se vayan dando dentro de los <strong>SOA</strong> a disposición de todas las personas.</p>
</div>

<div class="containerFormAndInformationForTransfer">
  <p class="textInformativeAboutTransfer">Dentro de este apartado nosotros tambien podemos realizar una transferencia de una adolescente que tiene estadia en un <strong>SOA</strong> y por algunos motivos se tuvo que mudar, entonces podemos hacer esta transferencia a otro <strong>SOA</strong> para que se le facilite seguir con su medida.</p>
  <button id="buttonTransferTeen" mat-flat-button color="accent" (click)="navigateToFormTransfer()">
    Iniciar Trasferencia
  </button>
</div>


