#formColumn  {
  display: flex;
  flex-wrap: wrap;
}

#formForRegister {
  margin: 0.7rem 0.7rem 0.0rem 0.7rem;
  flex: 1 0 calc(10% - 5px); /* Ajusta el 50% a la cantidad de columnas que desees. */
}

#buttonRegister {
  margin: 0.7rem 0.7rem 0.7rem 0.7rem;
}

#buttonEliminar {
  margin: 0.1rem;
}

#detalles {
  margin: 0.7rem;
}

#cerrar {
  margin: 0.7rem;
}

#buttonModificar {
  margin: 0.1rem
}

.container {
  margin: 0.7rem 0.7rem 0.0rem 0.7rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  vertical-align: middle;
}

.container1 {
  margin: 0.1rem;
}
