<mat-list>
  <mat-list-item (click)="clickMenuItem()" matRipple routerLink="information" routerLinkActive="active">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemLine>Información</div>
  </mat-list-item>
  <mat-list-item (click)="clickMenuItem()" matRipple routerLink="funcionario" routerLinkActive="active">
    <mat-icon matListItemIcon>supervised_user_circle</mat-icon>
    <div matListItemLine>Funcionario</div>
  </mat-list-item>
  <mat-list-item (click)="clickMenuItem()" matRipple routerLink="adolescente" routerLinkActive="active">
    <mat-icon matListItemIcon>category</mat-icon>
    <div matListItemLine>Adolescente</div>
  </mat-list-item>
  <mat-list-item (click)="clickMenuItem()" matRipple routerLink="asignacion" routerLinkActive="active">
    <mat-icon matListItemIcon>attachment</mat-icon>
    <div matListItemLine>Asignación</div>
  </mat-list-item>
  <mat-list-item (click)="clickMenuItem()" matRipple routerLink="product" routerLinkActive="active">
    <mat-icon matListItemIcon>shopping_bag</mat-icon>
    <div matListItemLine>Tutores</div>
  </mat-list-item>
</mat-list>

